---
- name: Install Core Tooling
  hosts: localhost
  become: true # Necessary to run with root privileges
  tasks:
    - name: Install NeoVim
      ansible.builtin.apt:
        name: neovim
        state: present
        update_cache: true

    # - name: Install Tmux
    #   ansible.builtin.apt:
    #     name: tmux
    #     state: present
    #     update_cache: true

    - name: Install Trash
      ansible.builtin.apt:
        name: trash-cli
        state: present
        update_cache: true

    # - name: Install Yazi
    #   ansible.builtin.apt:
    #     name: yazi
    #     state: present
    #     update_cache: true
