---
- name: Set GNOME Keyboard Options
  hosts: localhost
  vars:
    ansible_async_dir: /tmp/.ansible_async
    ansible_allow_world_readable_tmpfiles: True
  tasks:
    - name: Keymap altwin (<Super>) -> <Ctrl>
      ansible.builtin.command: >
        gsettings set org.gnome.desktop.input-sources
        xkb-options "['altwin:ctrl_win']"

    - name: Keymap switch-applications to <Control>Tab
      ansible.builtin.command: >
        gsettings set org.gnome.desktop.wm.keybindings 
        switch-applications "['<Control>Tab']"
      changed_when: true

    - name: Keymap switch-applications backwards to <Shift><Control>Tab
      ansible.builtin.command: >
        gsettings set org.gnome.desktop.wm.keybindings 
        switch-applications-backward "['<Shift><Control>Tab']"
      changed_when: true

    - name: Keymap cycle-apps to <Control>grave
      ansible.builtin.command: >
        gsettings set org.gnome.desktop.wm.keybindings
        switch-group "['<Control>grave']"
      changed_when: true

    # - name: Keymap rename file to <return>
    #   ansible.builtin.command: >
    #     gsettings set org.gnome.nautilus.list-view rename-file "['Return']"
    #   changed_when: true

    # Set to only one workspace
    - name: Set to only one workspace part 1
      ansible.builtin.command: >
        gsettings set org.gnome.mutter dynamic-workspaces false
      changed_when: true
    - name: Set to only one workspace part 2
      ansible.builtin.command: >
        gsettings set org.gnome.desktop.wm.preferences num-workspaces 1
      changed_when: true

    - name: Install Dash to Dock
      yay:
        name:
          - gnome-shell-extension-dash-to-dock
        state: present
      become: yes
      become_user: yay_builder
      become_method: sudo

    - name: Enable Dash to Dock
      ansible.builtin.command: >
        gnome-extensions enable dash-to-dock@micxgx.gmail.com
      changed_when: true

    - name: Disable Overview on Startup
      ansible.builtin.command: >
        gsettings set org.gnome.shell.extensions.dash-to-dock disable-overview-on-startup true
      changed_when: true

    - name: Switch To Application on Auto Raise
      ansible.builtin.command: >
        gsettings set org.gnome.desktop.wm.preferences auto-raise 'true'
      changed_when: true

    - name: Configure Snap to Left (Ctrl+Alt+Left)
      ansible.builtin.command: >
        gsettings set org.gnome.mutter.keybindings toggle-tiled-left "['<Control><Alt>Left']"
      changed_when: true

    - name: Configure Snap to Right (Ctrl+Alt+Right)
      ansible.builtin.command: >
        gsettings set org.gnome.mutter.keybindings toggle-tiled-right "['<Control><Alt>Right']"
      changed_when: true

    - name: Configure Maximize Window (Ctrl+Alt+M)
      ansible.builtin.command: >
        gsettings set org.gnome.desktop.wm.keybindings toggle-maximized "['<Control><Alt>m']"
      changed_when: true

    - name: Set move to monitor left (Shift+Ctrl+Alt+Left)
      ansible.builtin.command: >
        gsettings set org.gnome.desktop.wm.keybindings move-to-monitor-left "['<Shift><Control><Alt>Left']"
      changed_when: true

    - name: Set move to monitor right (Shift+Ctrl+Alt+Right)
      ansible.builtin.command: >
        gsettings set org.gnome.desktop.wm.keybindings move-to-monitor-right "['<Shift><Control><Alt>Right']"
      changed_when: true

    - name: Install Ulauncher
      yay:
        name:
          - ulauncher
        state: present
      become: yes
      become_user: yay_builder
      become_method: sudo
