---
- name: Install GNOME Extensions from AUR
  hosts: localhost
  tasks:
    - name: Install Dash to Dock
      aur:
        name:
          - gnome-shell-extension-dash-to-dock
        state: present
      become: yes
      become_user: aur_builder
      become_method: sudo

    - name: Install multiple packages
      aur:
        name:
          - gnome-shell-extension-dash-to-dock
          - gnome-shell-extension-user-themes
          - gnome-shell-extension-appindicator
        state: present
      become: yes
      become_user: aur_builder
      become_method: sudo

    - name: Upgrade all packages
      aur:
        upgrade: yes
      become: yes
      become_user: aur_builder
      become_method: sudo

    - name: Remove a package
      aur:
        name:
          - some-package
        state: absent
        recurse: yes
      become: yes
      become_user: aur_builder
      become_method: sudo

    - name: Ensure package is at latest version
      aur:
        name:
          - some-package
        state: latest
      become: yes
      become_user: aur_builder
      become_method: sudo
