name: Build QMK

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build-qmk:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: d3adb5/build-qmk-fw@v1
        with:
          keyboard: beekeeb/piantor_pro
          keymap: qmk
          local-keymap-path: qmk
          output-dir: qmk-firmware-to-be-flashed

      - uses: actions/upload-artifact@v4
        with:
          name: built-images
          path: qmk-firmware-to-be-flashed
